# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


# next.js
/.next/
/out/

# testing
/coverage

# production
/build

# env files (can opt-in for committing if needed)
.env*


# THEME
/THEME

# Sample
/Textile-solution-backend

# Others
/DATABASE_SETUP.md
/DEPLOYMENT_GUIDE.md
/PROJECT_ETA.md
/PROJECT_PLAN.md
/PROJECT_STRUCTURE.md
/PROJECT_SUMMARY.md
/QUICK_SETUP.md
setup.js
/SINGLE_DEVELOPER_GUIDE.md
/next.tar.gz